In [62]:
#import dependencies 

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [63]:
# read in CSV

raw_economic_2017_data = pd.read_csv('Machine_Learning_Dataset_2015.csv')
raw_economic_2017_data.head(40)

,COU,Country,Avg. Work Hours (Annual),Avg. Wages (Annual),Mortality Causes,GDP (constant 2010 US$),GINI index (World Bank estimate),"Literacy rate, adult total (% of people ages 15 and above)",Population density (people per sq. km of land area),"Probability of dying at age 5-14 years (per 1,000 children age 5)",Year
0,AUS,Australia,1683.55,53946.26631,322108.1,1.312200e+12,0.0,0.000000,3.100113,0.9,2015
1,AUT,Austria,1500.00,50373.81106,171362.0,4.135550e+11,30.5,0.000000,104.730793,0.9,2015
2,BEL,Belgium,1545.00,52120.10915,226377.6,5.091860e+11,27.7,0.000000,372.331440,0.9,2015
3,CAN,Canada,1712.00,48979.30251,532929.5,1.802510e+12,0.0,0.000000,3.940449,1.1,2015
4,CHE,Switzerland,1589.50,64222.83942,139679.3,6.340450e+11,32.3,0.000000,209.596007,0.7,2015
5,CHL,Chile,1988.00,26759.21876,210741.0,2.645550e+11,47.7,96.874130,23.889598,1.5,2015
6,CZE,Czech Republic,1756.00,23962.81256,228471.2,2.254930e+11,25.9,0.000000,136.589289,0.9,2015
7,DEU,Germany,1369.80,48034.59454,1856242.1,3.718480e+12,31.7,0.000000,234.153669,0.8,2015
8,DNK,Denmark,1407.00,54196.88620,109631.9,3.432940e+11,28.2,0.000000,135.353251,0.6,2015
9,ESP,Spain,1699.60,40087.62768,849930.3,1.420990e+12,36.2,98.143257,92.952683,0.8,2015
10,EST,Estonia,1788.00,23436.37665,36934.2,2.337874e+10,32.7,0.000000,30.260110,1.3,2015
11,FIN,Finland,1563.00,43617.28448,109739.5,2.483120e+11,27.1,0.000000,18.030111,0.8,2015
12,FRA,France,1519.00,43731.65687,1164506.8,2.781290e+12,32.7,0.000000,121.619059,0.8,2015
13,GBR,United Kingdom,1531.00,44125.73619,1210706.8,2.719580e+12,33.2,0.000000,269.205394,0.8,2015
14,GRC,Greece,1943.00,26585.06610,248695.0,2.447190e+11,36.0,0.000000,83.947890,1.0,2015
15,HUN,Hungary,1748.70,20150.14824,271023.6,1.442360e+11,30.4,0.000000,108.726698,1.1,2015
16,IRL,Ireland,1741.00,47244.93408,64515.5,3.184130e+11,31.8,0.000000,68.253114,0.8,2015
17,ISL,Iceland,1504.00,53261.71745,8458.4,1.568230e+10,0.0,0.000000,3.299900,0.8,2015
18,ISR,Israel,1895.41,34481.71807,92236.3,2.780490e+11,0.0,0.000000,387.250462,1.0,2015
19,ITA,Italy,1718.00,37793.07676,1297397.6,2.062370e+12,35.4,0.000000,206.468287,0.8,2015
20,JPN,Japan,1719.00,39591.57293,2585715.5,5.996410e+12,0.0,0.000000,348.751920,0.8,2015
21,LTU,Lithuania,1622.00,22741.69964,91558.2,4.468143e+10,37.4,0.000000,46.367279,1.7,2015
22,LUX,Luxembourg,1514.00,64551.54632,11955.2,6.108164e+10,33.8,0.000000,234.404938,0.5,2015
23,LVA,Latvia,1708.00,22295.31473,64266.6,2.824757e+10,34.2,0.000000,31.803265,1.6,2015
24,MEX,Mexico,2140.00,16231.22549,1285798.3,1.223120e+12,0.0,94.472282,64.760384,2.6,2015
25,NLD,Netherlands,1426.00,54892.58871,299182.4,8.787010e+11,28.2,0.000000,502.817542,0.8,2015
26,NOR,Norway,1423.90,50994.10315,85892.4,4.676610e+11,27.5,0.000000,14.210573,0.7,2015
27,POL,Poland,1834.00,24726.12542,796000.1,5.562870e+11,31.8,0.000000,124.061570,1.1,2015
28,PRT,Portugal,1722.00,25307.31462,223374.4,2.280520e+11,35.5,0.000000,113.072525,0.9,2015
29,SVN,Slovenia,1687.80,34933.64773,44984.3,4.897000e+10,25.4,0.000000,102.446109,0.8,2015
30,SWE,Sweden,1471.00,43159.39234,187002.5,5.430610e+11,29.2,0.000000,24.058300,0.8,2015
31,USA,United States,1785.00,62106.29523,5430335.0,1.671050e+13,0.0,0.000000,35.063731,1.3,2015

In [64]:
# remove any columns that we don't want to use as features in this model

economic_2017_data = raw_economic_2017_data.drop(["Literacy rate, adult total (% of people ages 15 and above)",
                                                 "Country","COU","Year"], axis=1)
economic_2017_data.head()

,Avg. Work Hours (Annual),Avg. Wages (Annual),Mortality Causes,GDP (constant 2010 US$),GINI index (World Bank estimate),Population density (people per sq. km of land area),"Probability of dying at age 5-14 years (per 1,000 children age 5)"
0,1683.55,53946.26631,322108.1,1.312200e+12,0.0,3.100113,0.9
1,1500.00,50373.81106,171362.0,4.135550e+11,30.5,104.730793,0.9
2,1545.00,52120.10915,226377.6,5.091860e+11,27.7,372.331440,0.9
3,1712.00,48979.30251,532929.5,1.802510e+12,0.0,3.940449,1.1
4,1589.50,64222.83942,139679.3,6.340450e+11,32.3,209.596007,0.7

In [65]:
# random trees can't take floats, so I'm changing all data types to integer

rev_economic_2017_data = economic_2017_data.astype('int64')

In [66]:
# assign X (data) and y (target)

X = rev_economic_2017_data.drop("Probability of dying at age 5-14 years (per 1,000 children age 5)", axis=1)
y = rev_economic_2017_data["Probability of dying at age 5-14 years (per 1,000 children age 5)"]
print(X.shape, y.shape)

(32, 6) (32,)

In [70]:
# establish variable to hold feature names (the names of the remaining columns)

feature_names = X.columns

In [67]:
# split data into training and testing 

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [68]:
# create a random forest classifier

rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.75

In [69]:
# calculate feature importance

importances = rf.feature_importances_
importances

array([0.32046109, 0.21499909, 0.08024446, 0.12213576, 0.11072782,
       0.15143178])

In [72]:
# sort the features by their importance

sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.32046109079819385, 'Avg. Work Hours (Annual)'),
 (0.21499909034378878, 'Avg. Wages (Annual)'),
 (0.15143177940054872, 'Population density (people per sq. km of land area)'),
 (0.12213575580228783, 'GDP (constant 2010 US$)'),
 (0.11072782490961557, 'GINI index (World Bank estimate)'),
 (0.08024445874556523, 'Mortality Causes')]